#login {
    margin: 0 auto;
    width: 250px;
    height: 250px;
    text-align: center;
}
header {
    background-color: #2B7CB3;
    width: auto;
    height: 50px;
}
#headertext {
    text-align: center;
    color: #FFFFFF;
    font-size: 25px;
    vertical-align: middle;
}
html,
body {
    margin: 0;
    padding: 0
}