body {
    font-family: Verdana, 'Lucida Sans Unicode', sans-serif;
    background-color: #F2F2F2;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#body2 {
    background-color: #EDEDED;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .4);
}
/* Canvas Zeichenfläche */

#myCanvas {
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #2B7CB3;
}
#divCanvas {
    overflow-x: scroll;
    width: 999px;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .1);
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/*Accordion ausrichtung*/

#accordion {
    float: left;
    width: 350px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
}
/*Buttons*/

#accordion .ui-accordion-content > * {
    font-size: 12pt;
    font-weight: 600;
    line-height: 30pt;
    width: 50px;
    height: 50px;
    margin-right: 4px;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, .7);
    background-color: #EAEAEA;
    border-right: 1px solid rgba(0, 0, 0, .3);
    border-left: 1px solid rgba(0, 0, 0, .3);
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    border-top: 1px solid rgba(0, 0, 0, .3);
    border-radius: 3px;
}
#accordion .ui-accordion-header {
    color: #fff;
    background-color: #2C80B8;
    background-image: -moz-linear-gradient(top, #2C80B8 0%, #2C80B8 100%);
    background-image: -webkit-gradient(linear, left top, left bottombottom, color-stop(0%, #2C80B8), color-stop(100%, #2C80B8));
    /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #2C80B8 0%, #2C80B8 100%);
    background-image: -o-linear-gradient(top, #2C80B8 0%, #2C80B8 100%);
    background-image: -ms-linear-gradient(top, #2C80B8 0%, #2C80B8 100%);
    background-image: linear-gradient(to bottombottom, #2C80B8 0%, #2C80B8 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#2C80B8', endColorstr='#2C80B8', GradientType=0);
    /* IE6-9 */
}
#accordion .ui-accordion-header a {
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.9);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.9);
    border-right: 1px solid rgba(0, 0, 0, .2);
    border-left: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-top: 1px solid rgba(250, 250, 250, .2);
}
#accordion .ui-accordion-content {
    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, .4), inset 0px 1px 1px 0px rgba(0, 0, 0, .2);
}
#content {
    display: inline-block;
    width: 350px;
    margin-top: 2%;
    margin-right:2%;
    float: right;
}
#contentMeal {
    border-right: 1px solid rgba(0, 0, 0, .2);
    border-left: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-top: 1px solid rgba(0, 0, 0, .2);
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .4);
    color: #FFFFFF;
    width: 450px;
    height: auto;
    float: right;
    margin-left: auto;
    margin-right: auto;
}
#contentMeasurement {
    border-right: 1px solid rgba(0, 0, 0, .2);
    border-left: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-top: 1px solid rgba(0, 0, 0, .2);
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .4);
    color: #FFFFFF;
    width: 450px;
    height: auto;
    float: right;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}
#contentOverview {
    border-right: 1px solid rgba(0, 0, 0, .2);
    border-left: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-top: 1px solid rgba(0, 0, 0, .2);
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .4);
    color: #FFFFFF;
    width: 450px;
    height: auto;
    float: right;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}
#footer {
    margin-top: 50%;
    clear: both;
    position: relative;
}

