body {
    font-family: Verdana, 'Lucida Sans Unicode', sans-serif;
    background-color: #EAEAEA;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#myCanvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #EEEEEE;
    border-right: 1px solid rgba(0, 0, 0, .2);
    border-left: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-top: 1px solid rgba(0, 0, 0, .2);
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#accordion {
    float: left;
    width: 350px;
    margin-top: 2%;
}
#accordion .ui-accordion-content {
    font-size: 10pt;
    line-height: 16pt;
}
#accordion .ui-accordion-content > * {
    width: 50px;
    height: 50px;
    margin: 5px;
}
#accordion .ui-accordion-content a {
    color: #777;
}
#accordion .ui-accordion-header {
    background-color: #1A5;
    color: #FFF;
    margin: 2px;
}
#accordion .ui-accordion-header a {
    color: #fff;
    line-height: 42px;
    display: block;
    font-size: 12pt;
    width: 100%;
    text-indent: 10px;
}
#accordion .ui-accordion-header {
    background-color: #65A6D1;
    background-image: -moz-linear-gradient(top, #65A6D1 0%, #65A6D1 100%);
    background-image: -webkit-gradient(linear, left top, left bottombottom, color-stop(0%, #65A6D1), color-stop(100%, #65A6D1));
    /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #65A6D1 0%, #65A6D1 100%);
    background-image: -o-linear-gradient(top, #65A6D1 0%, #65A6D1 100%);
    background-image: -ms-linear-gradient(top, #65A6D1 0%, #65A6D1 100%);
    background-image: linear-gradient(to bottombottom, #65A6D1 0%, #65A6D1 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#65A6D1', endColorstr='#65A6D1', GradientType=0);
    /* IE6-9 */
}

#accordion .ui-accordion-header a {
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.9);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.9);
    border-right: 1px solid rgba(0, 0, 0, .2);
    border-left: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-top: 1px solid rgba(250, 250, 250, .2);
}
#accordion .ui-accordion-content {
    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, .4), inset 0px 1px 1px 0px rgba(0, 0, 0, .2);
}
#accordion .ui-accordion-content:last-of-type {
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, .2), inset 0px 0 0px 0px rgba(0, 0, 0, .5);
}
#content {
    display: inline-block;
    width: 350px;
    margin-top: 2%;
    float: right;
}
#contentMeal {
    border-right: 1px solid rgba(0, 0, 0, .2);
    border-left: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-top: 1px solid rgba(0, 0, 0, .2);
    border-radius: 10px;
    background-color: #9E9E9E;
    color: #FFFFFF;
    width: 350px;
    height: auto;
    float: right
    margin-left: auto;
    margin-right: auto;
}
#contentMeasurement {
    border-right: 1px solid rgba(0, 0, 0, .2);
    border-left: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-top: 1px solid rgba(0, 0, 0, .2);
    border-radius: 10px;
    background-color: #9E9E9E;    
    color: #FFFFFF;
    width: 350px;
    height: auto;
    float: right;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}
#contentOverview {
    border-right: 1px solid rgba(0, 0, 0, .2);
    border-left: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-top: 1px solid rgba(0, 0, 0, .2);
    border-radius: 10px;
    background-color: #9E9E9E;
    color: #FFFFFF;
    width: 350px;
    height: auto;
    float: right;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}
#footer {
    margin-top: 50%;
    clear: both;
    position: relative;
}